.install
.qmake.stash
*.o
moc*
libsdk*
pkg-config_wrapper.sh
qrc_resources.cpp
Makefile
debug
release
Makefile*
*.autosave
*.user
object_script.*
mntconti_sdk_test_units
tags
run.sh
*.swp
sdk.pro.user*
test_units.pro.user*
